@media screen and (max-width: 767.99px) {
    .main-text {
       font-size: 48px;
       margin-bottom: 36px;
    }
    .first-banner{
       .banner-description {
       font-size: 12px;
       margin-bottom: 36px;
       max-width: 352px;
    } 
    }
    
    .statistic__title {
       font-size: 42px;
    }
    .statistic__subtitle {
       font-size: 12px;
    }
    .btn-group {
        margin-bottom: 36px;

        .btn-primary {
            font-size: 16px;
            padding: 14px 54px;
        }
        .btn-secondary {
            font-size: 16px;
            padding: 14px 54px;
        }
    }
    div.cup-side {
            padding: 0 64px;
            margin-right: 0;
        }
    .banner-line {
            width: 110%;
            top: -43px;
            right: -62px;
        }
    .cup-discount {
        right: 100px;
    }

    .advantage-row {
    flex-direction: column;
    max-width: 220px;
    height: 604px;
    padding: 20px 40px;
    gap: 24px;
        .cup-discount {
            top: -38px;
            left: 140px;
            height: 90px;
            width: 90px;
                &__text {
                    font-size: 18px; 
                    max-width: 58px;
                }
        }
    }
    .advantage {
        &_img-wrapper {
            --size: 70px;
             img {
                max-width: 90px;
                max-height: 90px;
                }
            }
        &_title {
            font-size: 18px;
        }   
        &_sub {
            font-size: 12px;
        } 
    }
}
