.advantages-row {
    padding: 50px 78px 36px;
    border-radius: 46px;
    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);

    height: 372px;
    margin-bottom: 100px;
}