.first-banner {
    margin-bottom: 100px;
    .container {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }
}
.banner-information {
    max-width: 574px;
    .main-text {
        position: relative;
        &::after {
        @include foooter-light;
        width: 586px;
        height: 653px;
        background-image: url(./assets/img/shadow-green-big.svg); 
        top: 150px;
        left: 200px;
        }
    }
}
.banner-description {
    color: $text;
    font-weight: 400;
    @extend h6 ;
    margin-bottom: 54px;
}
.banner-line {
        width: 1102px;
        height: 677px;
        position: absolute;
        top: 200px;
        right: -470px;
        z-index: -1;
    }
.btn-group  {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 54px;
}
.statistic {
    &-list {
        display: flex;
        gap: 46px;
        
    }
    &__item {
        max-width: 126px;
    }
    &__title {
        font-size: 62px;
    }
    &__subtitle {
        font-size: 20px;
    }
}
.cup-side {
    margin-right: 43px;
    position: relative;
        &::before {
        @include foooter-light;
        width: 479px;
        height: 479px;
        background-image: url(./assets/img/cup-shadow-white.png); 
        top: 125px;
        left: 75px;
        }
        &::after {
        content: "";
        position: absolute;
        background: center/contain no-repeat;
        z-index: -1;
        width: 700px;
        height: 700px;
        background-image: url(./assets/img/cup-shadow-green.png);
        right: -190px;
        bottom: -200px;
        }
}
.cup-discount {
        --max-size: 184px;
        --size: 14.154vw;
        width: var(--size);
        height: var(--size);
        max-width: var(--max-size);
        max-height: var(--max-size);
        background: url(./assets/img/sale-big.svg) center / 100% no-repeat;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 55px;
        font-size: Min(4.231vw, 55px);
        font-weight: 500;
        position: absolute;
        top: 0;
        right: 38px;
        z-index: 1;
        // &:before {
        //     content: "";
        //     position: absolute;
        //     width: calc(100% - 42px);
        //     height: calc(100% - 42px);
        //     box-shadow: -4.56px 15.52px 26.48px #143e287a;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     border-radius: 50%;
        //     z-index: -1;
        // }
    }
