.first-banner {
    .container {
        display: flex;
        gap: 24px;
    }
}
.banner-information {
    max-width: 574px;
}
.banner-description {
    color: $text;
    font-weight: 400;
    @extend h6 ;
    margin-bottom: 54px;
}
.btn-group  {
    display: flex;
    gap: 16px;
    align-items: center;
}