* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat';
    font-size: 16px;
    background-color: $bg-color;
    color: $text;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $title-color;
}
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.ff-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1274px;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    &.btn-outline {
        width: 84px;
        height: 84px;
        border: 1px solid $primary-color;
        border-radius: 29px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 37px;
        }
    }
}
.svg-sprite {
    height: 0;
}









::selection {
    color: $bg-color;
    background-color: $primary-color;
}
