.overlay {
    background: #00000085;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 0;
    width: 0;
    transition: .3s;
    cursor: pointer;
    &.show {
        height: 100vh;
        width: 100vw;

    }
}

.modal {
    position: fixed;
    top: 200px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fffde7;
    color: black;


    border: 1px solid #ccc;
    transition: .5s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    &.show {
        opacity: 1;
        visibility: visible;
    }
    svg {
        height: 40px;
        width: 48px;
    }
    .btn-player {
        padding: 5px;
        margin: 5px;
        height: 50px;
        width: 55px;   
        cursor: pointer;
    }
    .player-elements {
        display: flex;
        flex-direction: row;
        use {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    } 
}
.drinks-row {
    margin-left: 50px;
    display: flex;
        .btn-player {
            width: auto;
            display: flex; 
            align-items: center;
            justify-content: center; 
            gap: 8px; 
            cursor: pointer;
        }   
}
.model-btn-row {
    display: flex;
}
.modal-content {
    margin-bottom: 24px;
}
  button.accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
    cursor: pointer;
    margin-bottom: 10px;
  }