///fonts///
// $font-primary: "Open Sans";
// $font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #237249;
$secondary-color: #35C66B;
$bg-color: #121517;
$title-color: #fff;
$text: #d9d9d9;
$bg-accent-color: #0B0C0D;

@mixin foooter-light {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: center/contain no-repeat;
}