<section class="advantages">
    <div class="container">
        <div class="advantage-row ">
            <div class="cup-discount"><span>we have</span></div>
            <div class="advantage">
                <div class="advantage_img-wrapper"><img src="./assets/img/adv1.png" alt="adv"></div>
                <h3 class="advantage_title">Tasty</h3>
                <h6 class="advantage_sub">We have the most delicious coffee</h6>
            </div>
            <div class="advantage">
                <div class="advantage_img-wrapper"><img src="./assets/img/adv2.png" alt="adv"></div>
                <h3 class="advantage_title">Fast</h3>
                <h6 class="advantage_sub">Our cafe will serve you quickly</h6>
            </div>
            <div class="advantage">
                <div class="advantage_img-wrapper"><img src="./assets/img/adv3.png" alt="adv"></div>
                <h3 class="advantage_title">Available</h3>
                <h6 class="advantage_sub">Cafe will serveat the most pleasant prices</h6>
            </div>
        </div>
    </div>
</section>