<section class="events">
    <div class="container">
        <div class="events-title-wrapper">
            <h1 class="main-text">Our New <span class="gradient">Events</span></h1>
            <h6 class="banner-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</h6>
        </div>

        <div class="events-wrapper">
            <div class="events-grid">
                <div class="event event-1" style="background-image: url(./assets/img/event-1.png);">
                    <h3 class="event-title">TWO COFFEE FOR 1 PRICE</h3>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="event event-2" style="background-image: url(./assets/img/event-2.png);">
                    <h3 class="event-title">KITCHEN TOUR</h3>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="event event-3" style="background-image: url(./assets/img/event-3.png);">
                    <h3 class="event-title">FREE COFFEE FOR 3 COFFEE</h3>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="event event-4" style="background-image: url(./assets/img/event-4.png);">
                    <h3 class="event-title">OUR INSTAGRAM</h3>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="event event-5" style="background-image: url(./assets/img/event-5.png);">
                    <h3 class="event-title">WHERE ARE YOU CHOOSE US?</h3>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

    </div>
</section>