<section class="first-banner">  
    <div class="container">
        
            <div class="banner-information">
                <h1 class="main-text">New Cafe by <span class="gradient">StarBucks</span></h1>
                <p class="banner-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</p>
                <div class="btn-group">
                <a href="#" class="btn btn-primary">Select a coffee</a>
                <a href="#" class="btn btn-secondary">More</a>
                </div>
                <ul class="statistic-list">
                    <li class="statistic__item">
                        <div class="statistic__title">9k<span class="gradient">+</span></div>
                        <div class="statistic__subtitle">Premium Users</div>
                    </li>
                    <li class="statistic__item">
                        <div class="statistic__title">2k<span class="gradient">+</span></div>
                        <div class="statistic__subtitle">Happy Customer</div>
                    </li>
                    <li class="statistic__item">
                        <div class="statistic__title">28<span class="gradient">+</span></div>
                        <div class="statistic__subtitle">Awards Winning</div>
                    </li>
                </ul>
            </div>
            <div class="cup-side">
                <div class="cup-discount">45%</div>
                <img src="./assets/img/cup.png" alt="cup">
            </div>
        
    </div>
</section>