<header id="header">
    <div class="container">
        <a href="index.html" class="header-logo"><img src="./assets/img/logo.svg" alt="logo"></a>
    <div id="mobile-container" class="mobile-container">
        <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Select</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Shop</a></li>
        </ul>
    </nav>
    </div>
    <button id="btn-burger" class="btn btn-burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    </div>
</header>

