<div id="process" class="modal">
    <div class="modal-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis deserunt corrupti, ut fugit magni qui quasi nisi amet repellendus non fuga omnis a sed impedit explicabo accusantium nihil doloremque consequuntur.
    </div>
    <button class="accept" data-modal-close="close">Close</button>
    <video id="video" controls src="./assets/img/barista.mp4"></video>
    <div class="model-btn-row">
        <div class="player-elements">
            <button class="accept btn-player" ><svg><use href="#play"></use></svg></button>
            <button class="accept btn-player" ><svg><use href="#pause"></use></svg></button>
            <button class="accept btn-player" ><svg><use href="#stop"></use></svg></button>
        </div>
        <div class="drinks-row">
            <button id="drink-1" class="accept btn-player" ><svg><use href="#coffee"></use></svg>Espresso</button>
            <button id="drink-2" class="accept btn-player" ><svg><use href="#coffee"></use></svg>Latte</button>
            <button id="drink-3" class="accept btn-player" ><svg><use href="#coffee"></use></svg>Cappucino</button>
        </div>
    </div>

</div>