<section class="products">
	<div class="container">
        <div class="products-content">
            <h1 class="main-text">New Our <span class="gradient">Products</span></h1>
            <p class="banner-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</p>
        </div>
        <div class="caroucell-wrapper">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-1.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Espresso</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">5,15$</div>
                        <div class="coffee-ml">30ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-2.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Latte</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">7,45$</div>
                        <div class="coffee-ml">250ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-3.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Cappucino</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">8,25$</div>
                        <div class="coffee-ml">180ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-4.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Flat white</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">9,50$</div>
                        <div class="coffee-ml">240ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-1.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Espresso</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">5,15$</div>
                        <div class="coffee-ml">30ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-2.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Latte</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">7,45$</div>
                        <div class="coffee-ml">250ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-3.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Cappucino</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">8,25$</div>
                        <div class="coffee-ml">180ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>
                <div class="swiper-slide">
                    <div class="coffee-img">
                        <img src="./assets/img/product-4.png" alt="coffee">
                    </div>
                    <div class="coffee-title">Flat white</div>
                    <div class="coffee-descr">Our cafe will serve you quickly</div>
                    <div class="coffee-values">
                        <div class="coffee-price">9,50$</div>
                        <div class="coffee-ml">240ml</div>
                    </div>
                    <button class="btn btn-primary">Buy Product</button>
                </div>				
			</div>
		</div>
        <div class="swiper-navigation">
                <div class="swiper-button-prev btn btn-outline">
                    <svg>
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
			    <div class="swiper-button-next btn btn-outline">
                    <svg>
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
        </div>    
        </div>
	</div>
</section>
